@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "AaYuanWeiTuSi-2";
    src: url("/fonts/AaYuanWeiTuSi-2.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

.headerTextAnimation:hover {
    animation: headerTextMovingAnimation 0.5s ease-out infinite alternate, headerTextColorAnimation 0.3s ease-out both;
}

@keyframes headerTextMovingAnimation {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-8%);
    }
}

@keyframes headerTextColorAnimation {
    100% {
        color: rgb(65, 100, 148);
        text-shadow: 1px 1px 1px rgb(61, 61, 61), -1px -1px 1px rgb(240, 240, 240);
    }
}

.card-bg {
    background-color: rgba(102, 255, 230, 0.822)
}

.bg-color {
    background-image: linear-gradient(to right, #209393, #8239da, #209393);
    /* 蓝色-紫色-蓝色 */
    background-size: 1000% 100%;
    /* 关键：设置足够大的渐变尺寸 */
    animation: gradient-loop 30s linear infinite;
    /* 动画控制位置变化 */
}

@keyframes gradient-loop {
    from {
        background-position: 0% 0%;
    }

    to {
        background-position: -500% 0%;
        /* 关键：移动渐变位置 */
    }
}

.Header-extra:hover {
    box-shadow: 3px 3px 3px rgb(14, 81, 94), -3px -3px 3px rgb(127, 232, 253);
}

.sb-extra:focus {
    box-shadow: 3px 3px 3px rgb(14, 81, 94), -3px -3px 3px rgb(107, 230, 255);
}

.card-extra:hover {
    box-shadow: 3px 3px 3px rgb(17, 103, 120), -3px -3px 3px rgb(101, 181, 197);
}

.container {
    /* 投影效果 */
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}

.title {
    color: rgb(98, 206, 227);
    /* 字间距 */
    letter-spacing: 15px;
    /* 转大写 */
    text-transform: uppercase;
    text-align: center;
    line-height: 85px;
    outline: none;
    /* 自定义属性--c，可通过var函数对其调用 */
    --c: lightseagreen;
    /* 调用自定义属性--c，设置文字阴影（发光效果） */
    text-shadow: 0 0 10px var(--c),
        0 0 20px var(--c),
        0 0 40px var(--c),
        0 0 80px var(--c),
        0 0 160px var(--c);
    /* 执行动画：动画名 时长 线性的 无限次播放 */
    animation: animate 5s linear infinite;
}

.titletext {
    color: rgb(98, 206, 227);
    /* 字间距 */
    letter-spacing: 5px;
    /* 转大写 */
    text-transform: uppercase;
    text-align: center;
    line-height: 76px;
    outline: none;
    /* 自定义属性--c，可通过var函数对其调用 */
    --c: lightseagreen;
    /* 调用自定义属性--c，设置文字阴影（发光效果） */
    text-shadow: 0 0 10px var(--c),
        0 0 20px var(--c),
        0 0 40px var(--c),
        0 0 80px var(--c),
        0 0 160px var(--c);
    /* 执行动画：动画名 时长 线性的 无限次播放 */
    animation: animate 5s linear infinite;
}

.titletextforblog {
    color: rgb(98, 206, 227);
    /* 字间距 */
    letter-spacing: 5px;
    /* 转大写 */
    line-height: 30px;
    text-align: center;
    outline: none;
    /* 自定义属性--c，可通过var函数对其调用 */
    --c: lightseagreen;
    /* 调用自定义属性--c，设置文字阴影（发光效果） */
    text-shadow: 0 0 10px var(--c),
        0 0 20px var(--c),
        0 0 40px var(--c),
        0 0 80px var(--c),
        0 0 160px var(--c);
    /* 执行动画：动画名 时长 线性的 无限次播放 */
    animation: animate 5s linear infinite;
}

.intro {
    color: rgb(98, 206, 227);
    /* 字间距 */
    letter-spacing: 15px;
    /* 转大写 */
    text-transform: uppercase;
    text-align: center;
    line-height: 15px;
    outline: none;
    /* 自定义属性--c，可通过var函数对其调用 */
    --c: lightseagreen;
    /* 调用自定义属性--c，设置文字阴影（发光效果） */
    text-shadow: 0 0 10px var(--c),
        0 0 20px var(--c),
        0 0 40px var(--c),
        0 0 80px var(--c),
        0 0 160px var(--c);
    /* 执行动画：动画名 时长 线性的 无限次播放 */
}

.introtext {
    color: rgb(98, 206, 227);
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    line-height: 45px;
    outline: none;
    --c: lightseagreen;
    text-shadow: 0 0 10px var(--c),
        0 0 20px var(--c),
        0 0 40px var(--c),
        0 0 80px var(--c),
        0 0 160px var(--c);
}

.introtextforblog {
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.introtextforsearchbar {
    color: rgb(53, 120, 133);
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 45px;
    outline: none;
    --c: lightseagreen;
    text-shadow: 0 0 10px var(--c),
        0 0 20px var(--c),
        0 0 40px var(--c),
        0 0 80px var(--c),
        0 0 160px var(--c);
}

/* 定义动画 */
@keyframes animate {
    to {
        /* 色相旋转滤镜（设置度数可改变颜色） */
        filter: hue-rotate(360deg);
    }
}

.headerE {
    position: relative;
    overflow: hidden;
    /* 隐藏溢出的内容 */
}

.headerE>* {
    /* 选择 header 的直接子元素 */
    position: relative;
    /* 保证子元素定位的参考点 */
    top: -200%;
    /* 初始状态向上隐藏 */
    transition: top 0.3s ease;
    /* 添加过渡效果 */
}

.headerE:hover>* {
    top: 0;
    /* 鼠标悬停时恢复原位 */
}

.ipcs {
    display: grid;
    grid-template-areas: "a b";
}

.introduction-title {
    line-height: 110px;
}

.blogCard {
    display: grid;
    grid-template-areas: "a a a b";
}

.searchbar {
    background: rgb(195, 208, 255);
    box-shadow: -3px -3px 3px rgb(221, 228, 255), 3px 3px 3px rgb(163, 183, 255);
}

.cardbackground {
    background: rgb(198, 210, 255);
}

.blogcard {
    background: rgba(198, 210, 255, 0.4);
}

.blogcard3 {
    animation: hoverchange 0.3s both alternate ease;
}

@keyframes hoverchange {
    100% {
        box-shadow: 3px 3px 3px rgb(25, 105, 121), -3px -3px 3px rgb(53, 160, 181);
    }
}

.blc {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 2fr 1fr;
}

.articlecard {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.bloglisttitle {
    line-height: 50px;
}

.donate {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.logborder>*:not(:last-child) {
    border-bottom: solid rgba(0, 64, 93, 0.5) 3px;
}

.about1 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
}

.about2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
}

.about3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 2fr;
}

.about4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.abouttitle {
    letter-spacing: 5px;
    text-shadow: 3px 3px 3px rgb(14, 81, 94), -3px -3px -3px rgb(181, 239, 255);
}

.aboutintro {
    box-shadow: 3px 3px 3px rgb(181, 239, 255), -3px -3px 3px rgb(14, 81, 94);
}